<ion-header>
    <ion-toolbar color=primary>
        
      <ion-title>Haisy</ion-title>
      <ion-buttons end>
          
          <button secondary ion-button icon-left end (click)="presentActionSheet()">
              <ion-icon name="help"></ion-icon>
              {{help | translate: format}}
            </button>
            <button ion-button icon-only (click)="presentPopover($event)">
                <ion-icon name="more"></ion-icon>
              </button>
        </ion-buttons>
      
    </ion-toolbar>
    
  </ion-header>

  




<ion-content>
<br>
    <div id="container" *ngFor="let message of messages">
        <div class="message" [ngClass]="{ 'from': message.sentBy === 'bot',
                                          'to':   message.sentBy === 'user' }">
                                          
          {{ message.content }}
          
        
        </div>
        <div *ngIf="message.title != ''">
            <ion-card>
                <ion-row class="details-row">
                    <ion-col col-4 class="details-column sku-column">
                        <ion-card class="sku-details-card">
                            <ion-card-header class="details-header">
                              SKU
                            </ion-card-header>
                            <ion-card-content class="details-content">
                              {{skuNumber}}
                            </ion-card-content>
                          </ion-card>
                          
                    </ion-col>
                    <ion-col col-4 class="details-column loc-column">
                        <ion-card class="sku-details-card">
                            <ion-card-header class="details-header">
                              LOC
                            </ion-card-header>
                            <ion-card-content class="details-content">
                             {{location}}
                            </ion-card-content>
                          </ion-card>
                    </ion-col>
                    <ion-col col-4 class="details-column oh-column" >
                        <ion-card class="sku-details-card">
                            <ion-card-header class="details-header">
                              OH
                            </ion-card-header>
                            <ion-card-content class="details-content">
                              {{oh}}
                            </ion-card-content>
                          </ion-card>
                    </ion-col>
                  </ion-row>
                  
              
              <ion-card-header class="slide-sku-header">
                  <ion-item class="slide-sku-item">
                      <ion-card-title class="slide-sku-title">
                          {{message.title}}
                          </ion-card-title>
            
                          
                    </ion-item>
                </ion-card-header>
                <ion-row class="slide-image-row">
                  <ion-col col-8>
                      <img class="slide-image-first" src="{{message.image}}"/>
                  </ion-col>
                  <ion-col col-4 class="slide-column-badge">
                      <ion-badge class="custom-badge" item-end>$12</ion-badge>
                  </ion-col>
                </ion-row>
                
               
              <ion-card-content>
                
                <p>
                  {{message.text}}
                </p>
              </ion-card-content>
            </ion-card>
            <ion-card>
              <ion-card-header>
                Actions Available: 
              </ion-card-header>
              <ion-card-content>
                <ion-chip>
                  <ion-label>Change OnHand</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-label>Print Tag</ion-label>
                </ion-chip>
                <ion-chip>
                  <ion-label>Change Loc</ion-label>
                </ion-chip>
              </ion-card-content>
            </ion-card>
  </div>

  <div *ngIf="message.displayBulb === true">
      <ion-slides pager>
          <ion-slide *ngFor="let slide of slides">
            <ion-card>
                <ion-row class="details-row">
                    <ion-col col-4 class="details-column sku-column">
                        <ion-card class="sku-details-card">
                            <ion-card-header class="details-header">
                              SKU
                            </ion-card-header>
                            <ion-card-content class="details-content">
                              100-130
                            </ion-card-content>
                          </ion-card>
                          
                    </ion-col>
                    <ion-col col-4 class="details-column loc-column">
                        <ion-card class="sku-details-card">
                            <ion-card-header class="details-header">
                              LOC
                            </ion-card-header>
                            <ion-card-content class="details-content">
                              01-22
                            </ion-card-content>
                          </ion-card>
                    </ion-col>
                    <ion-col col-4 class="details-column oh-column" >
                        <ion-card class="sku-details-card">
                            <ion-card-header class="details-header">
                              OH
                            </ion-card-header>
                            <ion-card-content class="details-content">
                              23
                            </ion-card-content>
                          </ion-card>
                    </ion-col>
                  </ion-row>
                  
              
              <ion-card-header class="slide-sku-header">
                  <ion-item class="slide-sku-item">
                      <ion-card-title class="slide-sku-title">
                          {{slide.title}}
                          </ion-card-title>
            
                          
                    </ion-item>
                </ion-card-header>
                <ion-row class="slide-image-row">
                  <ion-col col-8>
                      <img class="slide-image" src="{{slide.image}}"/>
                  </ion-col>
                  <ion-col col-4 class="slide-column-badge">
                      <ion-badge class="custom-badge" item-end>{{slide.rate}}</ion-badge>
                  </ion-col>
                </ion-row>
                
               
              <ion-card-content>
                
                <p>
                  {{slide.content}}
                </p>
              </ion-card-content>
            </ion-card>
          </ion-slide>
          
        </ion-slides>

  </div>
  
      </div>
    

</ion-content>

<ion-footer>
    <ion-item>
      <button ion-button class="customBtn" round icon-only item-start (click)="startVoice()">
        <ion-icon name="md-mic"></ion-icon>
      </button>
        <ion-input type="text" placeholder="Your Message" [(ngModel)]="question" (keyup.enter)="ask(question)"></ion-input>
        <button ion-button icon-only class="customBtn" round  item-end (click)="ask(question)">
            <ion-icon name="md-send"></ion-icon>
          </button>
      </ion-item>
      
</ion-footer>
  