.message {
    border-radius: 50px;
    margin: 0 15px 10px;
    padding: 15px 20px;
    position: relative;
    font-weight: bold;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}




.message.to {
    background-color: lightseagreen;
    color: #fff;
    margin-left: 100px;
    text-align: right;
}
.message.from {
    background-color: #E5E4E9;
    color: #363636;
    margin-right: 100px;
}
.message.to + .message.to,
.message.from + .message.from {
margin-top: -10px;
}

.button.customBtn{
    width:40px;
    height: 40px;
}

.slide-zoom {
    height: 100%;
}

.slide-title {
    margin-top: 2.8rem;
    font-size: 2.6rem !important;
    font-weight: bold !important;
}

.slide-image {
    height: 203px !important;
    width: 337px !important;
}

// .details-column {
//     padding: 0;
// }

// .details-row {
//     background-color: darkorange;
// }

.details-header {
    padding: 6px;
    font-weight: bolder;
    text-align: center;
}

.details-content {
    color: #F96302;
    font-weight: bolder;
    text-align: center;
}

.details-list {
    background-color: black;
}

.modal-image {
    width: 100%;
    height: 13em;
}

.custom-badge {
    padding: 13px 20px;
    font-size: 3.3rem;
}

.modal-card {
    font-size: 1.3rem;
}

.swiper-pagination-bullets {
}

.details-item {
    color: black;
}

.sku-details-card {
    padding: 0px;
    width: 100%;
    height: 100%;
    margin: 0;
}

.item-overview-header {
    background-color: black;
    color: white;
    font-weight: bolder;
}

.slide-image-row {
    height: 13em;
}

.slide-column-badge {
    padding-top: 4em;
}
.slide-sku-header {
    padding: 0.2em;
}

.slide-sku-item {
    background-color: #74706c;
    text-align: center;
}
.slide-sku-title {
    color: white;
    padding: 0;
}

.sku-column {
    padding-right: 0;
}
.loc-column {
    padding-left: 0;
    padding-right: 0;
    
}
.oh-column {
    padding-left: 0;
}

.slide-image-first {
    height: 180px !important;
    width: 337px !important;    
}

.custom-badge-onhandchange {
    padding: 13px 20px;
    background-color: blue;
    color: white;
    border-radius: 50px;
}

ion-modal {
    background-color: #F96302;
    top: 53px;
}

.locationChange {
    background-color: chartreuse;
}

.modal-print-image {
    height: 18em;
}

.print-input {
    border: 1px solid black;
    height: 3em;
}

.badge-print {
    border-radius: 50px;
    padding: 15px 6px;
    font-size: 2.3rem;
}

.skuClass {
    font-size: xx-large;
    font-weight: bolder;
}

.skuuuu {
    padding-top: 1em;
}